body{
    background-color:#15202b;
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    max-width: 100%;
}
.contenedor{
    height: 100vh;  
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.formulario h1{
    margin-top: 0;
}
.formulario{
    background-color: #4f719d;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 20px 1px rgba(219, 172, 80, 0.908);
}
.formulario input{
    border: none;
    outline: none;
    background-color: #4f719d;
    width: 100%;
    margin-left: 20px;
    color: white;

}
.formulario input::placeholder{
    color: rgba(255, 255, 255, 0.858);
    padding: 2px;
    
}
.formulario button{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
    color: white;
    background-color: #15202b;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    &:hover{
        background-color: rgba(0, 187, 255, 0.778);
    }
}
.inputs{
    display: flex;
    align-items: center;
}
hr{
    margin-top: 4px;
    margin-bottom: 40px;
}