body{
    background-color:#15202b;
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
.contenedor{
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}
.seguir{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.feed, input{
    width: 220px;
    color: white;
    border: none;
    background-color: rgb(0, 187, 255);
    cursor: pointer;
    font-weight: 900;
    text-transform: capitalize;
    border-radius: 25px;
    padding: 10px;
}
.feed{
    margin-right: 10px;
}

.feed,form, input{
    display: inline-block;
}